.ymaps-2-1-79-map-bg {
  background: none !important;

  .ymaps-2-1-79-inner-panes {
    border-radius: 10px;
  }
}

:root[data-theme="dark"] {
  .ymaps-2-1-79-map-bg {
    filter: grayscale(100%);
  }
}