@import "styles/global";

.wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  .container {
    @include flex(row, center, center);
    height: 100%;
  }
}

.background {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;

  opacity: 0.95;
  background-color: $color-another-main-text;
}

.form {
  @include flex(column, flex-start, flex-start);
  position: relative;
  z-index: 2;

  overflow-y: auto;
  gap: 16px;

  width: 100%;
  max-width: 640px;
  max-height: 89vh;
  padding: 48px;

  background-color: $color-white;
  border-radius: 20px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-grey;
    border-radius: 50px;
  }

  @media (max-height: 900px) {
    border-radius: 5px;
  }

  @media (max-width: 640px) {
    gap: 8px;
  }
  @media (max-width: 550px) {
    padding: 48px 24px;
  }
}

.closeBtn {
  cursor: pointer;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 34.29px;
  height: 34.29px;
}

.title {
  @include regular-text(40px, 56px, $color-another-main-text);
  margin-bottom: 16px;

  @media (max-width: 640px) {
    margin-bottom: 28px;
  }
}

.field {
  @include flex(row, space-between, flex-start);
  gap: 16px;

  width: 100%;

  @media (max-width: 640px) {
    @include flex(column, flex-start, flex-start);
  }
}

.data_check {
  @include flex(row, flex-start, center);
  gap: 16px;

  width: 100%;
}

.input {
  @include regular-text(20px, 24px, $color-another-main-text);
  resize: vertical;

  width: 100%;
  max-width: 352px;
  height: 48px;
  padding: 12px 20px;

  background: $color-white;
  border: 1px solid $color-grey-text;
  border-radius: 2px;
}

.textarea {
  height: 140px;
  min-height: 5vh;
  max-height: 20vh;
}

.input:focus {
  outline: $color-dark-grey-text solid 1px;
}

.label {
  @include medium-text(20px, 24px, $color-another-main-text);
  max-width: 176px;
  padding: 12px 0 0;

  @media (max-width: 640px) {
    padding: 0;
  }
}

.errorSpan {
  width: 100%;
  margin: 12px 0;

  text-align: right;

  visibility: hidden;

  @media (max-width: 640px) {
    text-align: left;
  }
}

.validError {
  @include medium-text(14px, 24px, $color-error);

  margin: 0;

  visibility: visible;
}

.checkbox {
  position: relative;

  width: 0;
  height: 48px;
  margin-right: 48px;

  &::before {
    cursor: pointer;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 48px;
    height: 48px;

    border: 1px solid #4b4c52;
    border-radius: 10px;
  }

  &:checked {
    &::before {
      background-image: url("../../assets/icons/checkbox-active.svg");
      background-position: center;
      background-size: cover;
    }
  }
}

.data_check__label {
  @include medium-text(19px, 24px, $color-another-main-text);
}

.send_btn {
  @include button-default;
  @include medium-text(28px, 36px, $color-white-text);
  width: 100%;
  margin-top: 16px;
  padding: 21px 0 23px;

  background-color: $color-main-blue;
  border-radius: 20px;

  transition: ease-in-out 0.25s;

  &:hover {
    background-color: $color-main-blue-hover;
  }

  &:disabled {
    cursor: default;

    filter: brightness(40%);

    &:hover {
      background-color: $color-main-blue;
    }
  }

  @media (max-width: 640px) {
    margin-top: 28px;
  }
}

.hiddenMessage {
  @include regular-text(24px, 24px, $color-black);
  position: absolute;
  z-index: 5;
  right: -30%;
  bottom: 5%;

  padding: 24px 32px;

  text-align: center;

  opacity: 1;
  background-color: $color-white;
  border-radius: 5px;

  transition: 0.3s;
}


.resultMessage {
  right: 5%;
  bottom: 5%;
}