
// Common styles
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 96%;
  }
}

// Colors
$color-black: #000;
$color-white: #fff;

$color-main-text: #121518;
$color-another-main-text: #16161A;

$color-grey: #D9D9D9;
$color-grey-text: #85868C;
$color-grey-text-hover: #A4AAB5;
$color-grey-text-active: #888d96;

$color-white-text: #E7ECF7;
$color-dark-grey-text: #4B4C52;

$color-main-blue: #25638f;
$color-main-blue-hover: #0a558b;
$color-main-blue-active: #0b4670;

$color-error: #940202;
$color-disabled: #a4aab5;
$color-background-header-and-footer: #09293f;

// Sizes
$width-desk-wide: 1281px;
$width-desk-narrow: 1025px;
$width-tablet-wide: 861px;
$width-tablet-narrow: 769px;
$width-mobile-wide: 451px;
$width-mobile-narrow: 331px;

// Mixins
@mixin regular-text($size, $line-height, $color) {
  font-family: YS, sans-serif;
  font-size: $size;
  font-weight: 400;
  line-height: $line-height;
  color: $color;
}

@mixin medium-text($size, $line-height, $color) {
  font-family: YS, sans-serif;
  font-size: $size;
  font-weight: 500;
  line-height: $line-height;
  color: $color;
}

@mixin semi-medium-text($size, $line-height, $color) {
  font-family: YS, sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: $line-height;
  color: $color;
}

@mixin bold-text($size, $line-height, $color) {
  font-family: YS, sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin no-selection() {
  /* iOS Safari */
  user-select: none;

  -webkit-touch-callout: none;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin icon-size($width, $height) {
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

@mixin button-default() {
    cursor: pointer;

    padding: 0;

    background: transparent;
    border: none;
    outline: 0;
}