
// Common styles
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 96%;
  }
}

:root[data-theme="light"] {
  --color-black: #000;
  --color-white: #fff;
  --color-main-text: #121518;
  --color-another-main-text: #16161A;
  --color-grey: #D9D9D9;
  --color-grey-text: #85868C;
  --color-grey-text-hover: #A4AAB5;
  --color-grey-text-active: #888d96;
  --color-white-text: #E7ECF7;
  --color-dark-grey-text: #4B4C52;
  --color-main-blue: #25638f;
  --color-main-blue-hover: #0a558b;
  --color-main-blue-active: #0b4670;
  --color-background-header-and-footer: #09293f;
}

:root[data-theme="dark"] {
  --color-black: #fff;
  --color-white: #000;
  --color-main-text: #EDEAE7;
  --color-another-main-text: #e9e9e5;
  --color-grey: #262626;
  --color-grey-text: #7a7973;
  --color-grey-text-hover: #5b554a;
  --color-grey-text-active: #777269;
  --color-white-text: #16161A;
  --color-dark-grey-text: #B4B3AD;
  --color-main-blue: #0a558b;
  --color-main-blue-hover: #25638f;
  --color-main-blue-active: #0b4670;
  --color-background-header-and-footer: #0b4670;
}

// Colors
$color-black: var(--color-black);
$color-white: var(--color-white);

// Text
$color-main-text: var(--color-main-text);
$color-another-main-text: var(--color-another-main-text);

// Grey
$color-grey: var(--color-grey);
$color-grey-text: var(--color-grey-text);
$color-grey-text-hover: var(--color-grey-text-hover);
$color-grey-text-active: var(--color-grey-text-active);

// Text
$color-white-text: var(--color-white-text);
$color-dark-grey-text: var(--color-dark-grey-text);

// Main
$color-main-blue: var(--color-main-blue);
$color-main-blue-hover: var(--color-main-blue-hover);
$color-main-blue-active: var(--color-main-blue-active);

// Other
$color-error: #940202;
$color-disabled: #a4aab5;
$color-background-header-and-footer: var(--color-background-header-and-footer);

// Sizes
$width-desk-wide: 1281px;
$width-desk-narrow: 1025px;
$width-tablet-wide: 861px;
$width-tablet-narrow: 769px;
$width-mobile-wide: 451px;
$width-mobile-narrow: 331px;

body {
  background-color: $color-white;

  transition: background-color 0.3s ease-out;
}

// Mixins
@mixin regular-text($size, $line-height, $color) {
  font-family: "Yandex Sans Text", sans-serif;
  font-size: $size;
  font-weight: 400;
  line-height: $line-height;
  color: $color;
}

@mixin medium-text($size, $line-height, $color) {
  font-family: "Yandex Sans Text", sans-serif;
  font-size: $size;
  font-weight: 500;
  line-height: $line-height;
  color: $color;
}

@mixin semi-medium-text($size, $line-height, $color) {
  font-family: "Yandex Sans Text", sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: $line-height;
  color: $color;
}

@mixin bold-text($size, $line-height, $color) {
  font-family: "Yandex Sans Text", sans-serif;
  font-size: $size;
  font-weight: 700;
  line-height: $line-height;
  color: $color;
}

@mixin no-selection() {
  /* iOS Safari */
  user-select: none;

  -webkit-touch-callout: none;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin icon-size($width, $height) {
  min-width: $width;
  max-width: $width;
  min-height: $height;
  max-height: $height;
}

@mixin button-default() {
    cursor: pointer;

    padding: 0;

    background: transparent;
    border: none;
    outline: 0;
}