@import 'styles/global';

.header {
  @include flex(row, space-between, center);
  margin-bottom: 52px;

  .title {
    @include regular-text(40px, 48px, $color-main-text);
  }

  .feedbackFormBtn {
    @include button-default;
    @include medium-text(20px, 24px, $color-white-text);
    padding: 28px 58.5px;

    background: $color-main-blue;
    border-radius: 20px;

    transition: background 0.3s ease-out;

    &:hover {
      background: $color-main-blue-hover;
    }
  }
}