@import "styles/global";

.button {
  @include button-default;
  @include flex(row, center, center);
  display: inline-flex;

  width: 48px;
  height: 48px;

  background-color: $color-white;
  border-radius: 50px;
  box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.25), -1px 1px 5px rgba(0, 0, 0, 0.25), -1px -1px 5px rgba(0, 0, 0, 0.25), 1px 1px 5px rgba(0, 0, 0, 0.25);

  transition: background-color 0.3s ease-out;

  .icon {
    @include icon-size(24px, 24px);
    @include no-selection;
    pointer-events: none;

    display: block;
  }
}