@import "styles/global";

.link {
  align-self: stretch;

  text-decoration: none;
}

.wrapper {
  box-sizing: content-box;
  width: 100%;
  max-width: 622px;
  height: 100%;

  background-color: $color-white;
  border: 1px solid $color-main-blue;
  border-radius: 16px;

  transition: background-color 0.3s ease-out;

  .preview {
    @include flex(row, center, flex-start);
    width: 100%;
    height: 280px;

    .previewImage {
      @include no-selection;
      pointer-events: none;

      display: block;

      max-width: 100%;
      max-height: 100%;

      border-radius: 16px 16px 0 0;
    }
  }


  .info {
    padding: 16px 52px 16px 28px;

    .title {
      @include medium-text(30px, 48px, $color-another-main-text);
      margin: 0 0 4px;

      transition: color 0.3s ease-out;
    }

    .author {
      @include flex(row, flex-start, center);
      @include regular-text(18px, 24px, $color-another-main-text);

      margin-bottom: 16px;

      font-style: normal;

      transition: color 0.3s ease-out;

      &Avatar {
        @include icon-size(32px, 32px);
        @include no-selection;
        pointer-events: none;

        display: block;

        margin-right: 8px;

        border-radius: 50px;
      }
    }

    .subinfo {
      @include flex(row, flex-start, center);

      @include regular-text(14px, 20px, $color-grey-text);
      flex-wrap: wrap;
      gap: 8px;

      margin-bottom: 16px;

      transition: color 0.3s ease-out;

      .target {
        font-style: normal;
      }

      .technologies {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        gap: 8px;
      }
    }

    .description {
      @include regular-text(16px, 24px, $color-dark-grey-text);
      transition: color 0.3s ease-out;
    }
  }

  .arrowWrapper {
    @include flex(row, center, center);
    width: 100%;
    margin-bottom: 8px;

    .arrowRotate {
      transform: rotate(90deg);

      .arrow {
        transform: scaleY(0) translateX(10px);

        opacity: 0;

        transition: opacity 0.3s ease-out, transform 0.3s ease-out;

        path {
          stroke: $color-white-text;
        }
      }
    }
  }


  &:hover {
    background-color: $color-main-blue;

    .arrowRotate .arrow {
      transform: scaleY(1) translateY(0);

      opacity: 1;
    }

    .info {
      .title {
        color: $color-white-text;
      }

      .author {
        color: $color-white-text;
      }

      .subinfo {
        color: $color-white-text;
      }

      .description {
        color: $color-white-text;
      }
    }
  }

  @media (max-width: 1317px) {
    max-width: 572px;
  }

  @media (max-width: 1213px) {
    max-width: 522px;
  }

  @media (max-width: 1109px) {
    max-width: 472px;
  }

  @media (max-width: $width-desk-narrow) {
    max-width: 622px;
  }
}