@import 'styles/global';

.popup_btn {
  @include button-default;
  @include medium-text(20px, 24px, $color-white-text);
  width: 384px;
  padding: 24px;

  background: $color-main-blue;
  border-radius: 20px;

  transition: background 0.3s ease-out;

  &:hover {
    background: $color-main-blue-hover;
  }

  @media (max-width: $width-mobile-wide) {
    width: 100%;
  }
}