@import "styles/global";

.header {
  width: 100%;
  padding: 20px 0;
  background-color: $color-background-header-and-footer;

  @media (max-width: $width-desk-narrow) {
    box-sizing: border-box;
  }
}

.menu {
  @include flex(row, flex-start, center);
  gap: 40px;

  list-style: none;

  transition: left 0.2s;
  @media (max-width: $width-desk-narrow) {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    padding: 0 0 20px;
    gap: 20px;
    top: 68px;
    left: -120%;
    display: flex;
    flex-direction: column;
    background-color: $color-background-header-and-footer;
  }
}

.menu_active {
  left: 0;
}

.link {
  @include regular-text(16px, 32px, $color-secondary-text);
  padding-bottom: 6px;

  text-decoration: none;

  border-bottom: none;

  transition: 0.3s;
}

@media (any-hover:hover) {
  .link:hover {
    color: $color-secondary-hover;
  }
}

.link:active {
  color: $color-secondary-active;
}

.link_active {
  color: $color-secondary-active;
  border-bottom: 1px solid $color-secondary-text;
}

.link_active:hover {
  color: $color-secondary-active;
}

