@import '../../styles/global';

.header {
  width: 100%;
  padding: 20px 0;
}

.list {
  @include flex(row, flex-start, center);
  gap: 40px;

  list-style: none;
}

.link {
  @include regular-text(16px, 32px, $color-main-text);
  padding-bottom: 6px;

  text-decoration: none;

  border-bottom: none;
}

.link_active {
  border-bottom: 1px solid $color-main-active;
}
