@import "styles/global";

.buttonContainer {
  @include flex(row, center, center);
  cursor: pointer;

  width: 100%;
  height: 100%;

  background: $color-white-text;
  border-radius: 20px;
}

.buttonContainer path {
  stroke: $color-main-blue-hover;
}

.buttonContainer:hover {
  background: $color-main-blue-hover;

  transition: 0.4s;
}

.buttonContainer:hover path {
  stroke: $color-white-text;
}
