@import "styles/global";

.container {
  @include flex(column, flex-start, center);
}

.cards {
  @include flex(row, space-between, flex-start);
  flex-wrap: wrap;
  gap: 64px 16px;

  @media (max-width: $width-desk-narrow) {
    justify-content: center;
  }
}
