@import "styles/global";

.container {
  @include flex(column, flex-start, center);
  min-height: 514px;
  margin-bottom: 48px;
}

.cards {
  @include flex(row, space-between, flex-start);
  flex-wrap: wrap;
  gap: 64px 16px;

  margin-bottom: 52px;

  @media (max-width: $width-desk-narrow) {
    justify-content: center;
  }
}

.loader {
  width: 52px;
  height: 52px;

  animation: rotation 1s infinite linear;

  path {
    fill: $color-another-main-text;
  }
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(-360deg);
  }
}


.loadbtn {
  @include button-default;
  @include regular-text(20px, 24px, $color-white-text);
  width: 100%;
  max-width: 400px;
  padding: 28px;

  background-color: $color-main-blue;
  border-radius: 20px;

  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $color-main-blue-hover;
  }
}
