@import "styles/global";

.wrapper {
  height: calc(100vh - 88px);
  padding-top: 120px;

  .title {
    @include medium-text(64px, 80px, $color-grey);

    @media (max-width: $width-tablet-wide) {
      @include medium-text(50px, 50px, $color-grey);
    }
    @media (max-width: $width-mobile-wide) {
      @include medium-text(40px, 40px, $color-grey);
      text-align: center;
    }
  }
}